@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #E3F2FD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}